:root{
    --primary-color:  rgb(229, 243, 255);
    --secondary-color: rgb(49, 49, 49);
    --main-background: url(background.png);
    --second-background: url(darkmodebg.jpg);
    --body-main:rgb(119, 201, 252);
    --body-second: #1C246D;
    --icon-main: url(darkmodetoogle.png);
    --icon-second: url(sun.png);
    
}

.dark-them {
    --primary-color: rgb(49, 49, 49);
    --secondary-color:  rgb(229, 243, 255);
    --main-background: url(darkmodebg.jpg);
    --second-background: url(background.png);
    --body-main: #1C246D; 
    --body-second: rgb(119, 201, 252);
    --icon-main:  url(sun.png);
    --icon-second: url(darkmodetoogle.png);

}

* {
    font-family: sans-serif;
    color: var(--secondary-color);

}
body{background-image: var(--main-background);}

body:before{
    background: var(--main-background);
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#select-game{
    background-color: var(--primary-color);
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


@media only screen and (min-width: 48em) and (max-width: 89em){
body{
    background-image: var(--main-background);
    background-size: 65%;
    
    background-attachment: fixed;
    width: 99%;
    margin: 4em auto;
}

* {
    font-family: sans-serif;
    color: var(--secondary-color);
}

#icon {
    width: 8%;  
    float: right;
}


    
#logo{
    width: 50%;
    clear: both;
    margin: 1em auto;
}

.logoArea {
    width: 99%;
    text-align: center;
    margin: 0 auto;
    margin-right: 0;
}

body{
    margin: 1em auto;
}

    body:before{
        background: var(--main-background);
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #wrapper {
        width: 90%;
        margin: 0 auto;
    }

    #select-game{
        background-color: var(--primary-color);
        height: 15em;
        border-radius: 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #game1 img, #game2 img, #game3 img {
        margin: 1.5em 20%;
        border-radius: 4%;
        border: 1px solid rgba(0, 0, 0, 0.253);
        height: 11.5em;
    }

    #logoForWeek {
        width: 70%;
        text-align: center;
    }

    #pkmnWeek {
        width: 99%;
        margin: 0 auto;
    }

    #pkmnWeekLogo {
        margin: 1em auto;
        width: 99%;
        text-align: center;
    }

    #weekLayout {
        background-color: var(--primary-color);
        border-radius: 1em;
        padding: 2% 0;
        display: grid;

        grid-template-columns: 20% 79%;
    }

    #weekInfo {
        position: relative;
        top: 10%;
        font-size: 1em;
        text-align:justify;
    }

    #imgSlot img{
        margin-left: 1em;
        width: 80%;

    }



}


/*----FOR ULTRA WIDE DISPLAYS-----*/
@media only screen and (min-width: 89em){
    #wrapper {
        width: 60%;
        margin: 0 auto;
    }



    #game1 img, #game2 img, #game3 img {
        margin: 1.5em 20%;
        border-radius: 4%;
        border: 1px solid rgba(0, 0, 0, 0.253);
        height: 11.5em;
    }
    #icon {
        width: 5%;  
        float: right;
    }
    
    #logo{
        width: 30%;
        clear: both;
        margin: 1em auto;
    }
    
    .logoArea {
        width: 99%;
        text-align: center;
        margin: 0 auto;
        margin-right: 0;
    }
    
    body{
        background-attachment: fixed;
        background-size: contain;
        margin: 4em auto;
      
    }



    #logoForWeek {
        width: 50%;
        text-align: center;
    }

    #pkmnWeek {
        width: 99%;
        margin: 0 auto;
    }

    #pkmnWeekLogo {
        margin: 1em auto;
        width: 99%;
        text-align: center;
    }

    #weekLayout {
        background-color: var(--primary-color);
        border-radius: 1em;
        padding: 2% 0;
        display: grid;

        grid-template-columns: 30% 60%;
    }

    #weekInfo {
        position: relative;
        top: 10%;
        font-size: large;
        text-align:justify;
    }

    #imgSlot img{
        margin-left: 5em;
        width: 50%;

    }

    

}


@media only screen and (max-width: 47.9em){
:root{
    --primary-color:  rgb(229, 243, 255);
    --secondary-color: rgb(49, 49, 49);
    --main-background: url(background.png);
    --second-background: url(darkmodebg.jpg);
    --body-main:rgb(119, 201, 252);
    --body-second: #1C246D;
    
}

.dark-them {
    --primary-color: rgb(49, 49, 49);
    --secondary-color:  rgb(229, 243, 255);
    --main-background: url(darkmodebg.jpg);
    --second-background: url(background.png);
    --body-main: #1C246D; 
    --body-second: rgb(119, 201, 252);

}

    * {
        font-family: sans-serif;
        color: var(--secondary-color);
    }

    #icon {
        background-image: var(--icon-main);
        width: 10%;  
        float: right;   
    }


        
    #logo {
        width: 21em;
        clear: both;
        margin: 1em 0;
        flex: 1;
        text-align: right;
        height: 10%;
    }
    
    body{

        background-color: var(--body-main);
        background-attachment: fixed;
        
        
    }
    
        body:before{
            background: var(--main-background);
            content: "";
            position: fixed;
            background-attachment: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        #wrapper {
            width: 100%;
        }

        #select-game{
            background-color: var(--primary-color);

            height: 10em;
            border-radius: 1em;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        #game1 img, #game2 img, #game3 img {
            margin: 1.5em 10%;
            border-radius: 4%;
            border: 1px solid rgba(0, 0, 0, 0.253);
            width: 6em;
        }

        #pkmnWeekLogo img {
            margin: 1em auto;
            width: 23.4em;
            text-align: center;
        }

        #weekLayout {
            background-color: var(--primary-color);
            border-radius: 1em;
            padding: 1em 0;
            display: grid;
            gap: 3%;
            grid-template-columns: 30% 65%;
        }

        #weekInfo {
            font-size: small;
            text-align:justify;
        }

        #imgSlot img{
            margin: 1em 0 0 0.5em;
        width: 100%;

        }


 
}